{% extends "base.html" %}

{% block content %}

<div class="card">

    <h1 class="center">Login Form</h1>

    <form name="admin_login_form">

        <label for="email">Email</label>
        <input type="email" name="email" class="field" required>

        <label for="password">Password</label>
        <input type="password" name="password" class="field" required>

        <p class="error error--hidden"></p>

        <input type="submit" value="Log In" class="btn">

    </form>

</div>

<div class="card ml-auto" style="height: max-content;">
    <h1 class="text-right">New Here?</h1>
    <a href="/admin/signup" class="btn">Signup to Volunteer with us!</a>
</div>

{% endblock %}