{% extends "base.html" %}

{% block content %}
<!-- <div class="card-wrapper">

  <div class="card">

    <h1 class="center">Create an Account</h1>

    <form name="signup_form">

      <label for="name">Name</label>
      <input type="text" name="name" class="field" required>

      <label for="email">Email</label>
      <input type="email" name="email" class="field" required>

      <label for="password">Password</label>
      <input type="password" name="password" class="field" required>

      <p class="error error--hidden"></p>

      <input type="submit" value="Sign Up" class="btn">

    </form>

  </div>

  <div class="card">

    <h1 class="center">Login Form</h1>

    <form name="login_form">

      <label for="email">Email</label>
      <input type="email" name="email" class="field" required>

      <label for="password">Password</label>
      <input type="password" name="password" class="field" required>

      <p class="error error--hidden"></p>

      <input type="submit" value="Log In" class="btn">

    </form>

  </div>

  <div class="card">

    <h1 class="center">Personal Details Form</h1>

    <form name="login_form">

      <label for="blood_group">Blood Group</label>
      <input type="text" name="blood_group" class="field" required>

      <label for="sex">Sex</label>
      <input type="text" name="sex" class="field" required>

      <label for="age">Age</label>
      <input type="number" name="age" class="field" required>

      <label for="weight">Weight</label>
      <input type="number" name="weight" class="field" required>

      <label for="height">Sex</label>
      <input type="number" name="height" class="field" required>

      <label for="diabetes">Diabetes</label>
      <input type="checkbox" name="Diabetes" class="field" required>

      <label for="disease">Diseases</label>
      <input type="text" name="disease" class="field" required>

      <p class="error error--hidden"></p>

      <input type="submit" value="Log In" class="btn">

    </form>

  </div> -->

<div class="card">

  <h1 class="center-left">Sign Up</h1>
  <a href="/user/signup">
    <input type="button" value="SIGN UP" class="btn">
  </a>

</div>

<div class="card">

  <h1 class="center-right">Log In</h1>
  <a href="/user/login">
    <input type="button" value="LOG IN" class="btn">
  </a>

</div>
{% endblock %}