<!DOCTYPE html>
<html>

<body>

    <script type="text/javascript">
        function loadGif() {
            var randomNumber = Math.floor(Math.random() * 3) + 1;  // generates a random number between 1 and 3
            var gifElement = document.getElementById('loadingGif');

            // Based on the random number, set the source of the gif
            if (randomNumber === 1) {
                gifElement.src = '../static/res/wait1.gif';
            } else if (randomNumber === 2) {
                gifElement.src = '../static/res/wait2.gif';
            } else {
                gifElement.src = '../static/res/wait3.gif';
            }
        }


        window.onload = loadGif;  // Call loadGif when the window loads

        setTimeout(function () {
            window.location.href = '/admin/displaylist';
        }, 10000);
    </script>

    <div class="waitgif" style="width:max-content; margin:15% 43%">
        <img id="loadingGif" src="" alt="Loading..." style="height: 180px; width:210px">
        <h2 style="margin:15px 40px">LOADING...</h2>
    </div>
</body>

</html>